
.cart-container {
    display: flex;
}

.cart-img {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
}


.finalizar-compra {
    width: 130%;
    
    
}

.cart-info {
    text-align: center;
    margin-right: 10px;
}

.cart-info > p {
    border-bottom: 1px solid #2e7d32;
}