.card-container > cardmedia > image{
    width: 50px;
}

.card-container {
    margin-top: 50px;
    
}

.div-container {
    padding: 0 5px;
}

.price-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.price-container > button {
    width: 80%;
    background-color: #333;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}

.title-card > span {
    font-size: 21px;
    font-weight: 600;
}

.price-container > span {
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
}

.dark-container-card {
    background-color: #555 !important;
    border: 1px solid rgb(126, 232, 166);
    box-shadow: 10px 10px 20px 10px rgb(126, 232, 166) !important;
}


.dark-title {
    color: #2e7d32;
    border-top: 1px solid rgb(126, 232, 166);
}

.dark-price {
    color: #fff;
}

.dark-button  {
    background-color: #2e7d32 !important;
}

.dark-button:hover  {
    background-color: rgb(126, 232, 166) !important;   
}

.dark-button > a:hover {
    color: #444;
}

.img-card {
    width: 370px !important;
    height: 400px;
    display: flex !important;
    justify-content: center !important;
    
    
    
}