.nav-container {
    display: flex;
    justify-content:space-around;
    position: fixed;
  
}

.li-container > ul {
    display: flex;
    padding: 15px;
    
}

.li-container > ul > li {
    margin: 0 40px;
    
}

.li-container > ul > li > Button > a {
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    
}


.li-container > ul > li > Button:hover {
    border-bottom: 1px solid #2e7d32;

}


.background-switch {
    background-color:#2e7d32 !important;
}