@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Oleo+Script+Swash+Caps&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,500&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Oleo+Script+Swash+Caps&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,500&display=swap'); 


* {
  box-shadow: none;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
 font-family: 'Odibee Sans', cursive;
 font-size: 30px;
}

.dark {
  background-color: #333;
}

.App {
 text-align: center;
 font-family: 'Roboto Flex', sans-serif;
}